@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .font-cesko-regular {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

  .font-cesko-light {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
  }

  .font-cesko-extra-light {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
  }

  .font-cesko-thin {
    font-family: "Playwrite CZ", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
  }

  .font-poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

  .font-poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .font-poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }

  .font-poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  .font-poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
}
